.hide-right-panel{
    position: sticky;
    left: 100%;

}


.row_no{
    max-width: 25px !important;
    width: 25px !important;
}
.o_list_button{
    /* max-width: 25px !important; */
    width: 24px !important;
}

th.o_column_sortable{
    width: 24px !important;
}