.hide-right-panel{
    position: sticky;
    left: 100%;

}


.o_section_and_note_list_view th{
    max-width: initial !important;
    width: 60px !important;
}



.o_section_and_note_list_view th.row_no{
    width: 10px !important;
}
.o_section_and_note_list_view .o_list_button{
    width: 24px !important;
}

.o_section_and_note_list_view th[data-name="sequence"].o_column_sortable{
    width: 7px !important;
}