.hide-right-panel{
    position: sticky;
    left: 100%;

}


.o_section_and_note_list_view th{
    max-width: initial !important;
    width: 60px !important;
}





.o_section_and_note_list_view th[data-name="sequence"].o_column_sortable{
    width: 7px !important;
}

.o_section_and_note_list_view th[data-name="product_uom_qty"]{
    /* min-width: initial; */
    width: 25px !important;
}

 .o_section_and_note_list_view th[data-name="product_uom_qty"] + th{
   width: 9px !important;
}
 .o_section_and_note_list_view th[data-name="product_uom"]{
   width: 15px !important;
}
 .o_section_and_note_list_view th[data-name="price_unit"]{
   /* min-width: 12px !important; */
   width: 17px !important;
}
 .o_section_and_note_list_view th[data-name="purchase_price"]{
   min-width: 15px !important;
   width: 15px !important;
}
 .o_section_and_note_list_view th[data-name="price_subtotal"]{
   min-width: 20px !important;
   width: 20px !important;
}
 .o_section_and_note_list_view .o_list_controller.o_list_actions_header{
   min-width: 9px !important;
   width: 9px !important;
}


.o_section_and_note_list_view th.row_no{
    width: 10px !important;
}
.o_section_and_note_list_view .o_list_button{
    width: 5px !important;
}


