.hide-right-panel{
    position: sticky;
    left: 100%;

}


.row_no{
    max-width: 50px !important;
    width: 50px !important;
}
.o_list_button,.o_column_sortable{
    max-width: 35px !important;
    width: 35px !important;
}
